<!-- The answer.html.erb will display the question you ask your coach as well as his answer. -->

<div class="question">
  <h2> <%= @question %> </h2>
  <p>- You</p>
</div>
<br>
<div class="answer">
  <h2> <%= @answer %> </h2>
  <p>- Your coach</p>
</div>