// Fonts //
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400');

// Layout //
.container {
  width: 900px;
  margin: 80px auto;
}

// Utilities //
body {
  font-family: Roboto;
  font-weight: 300;
}

h1 {
  font-weight: 400;
}

blockquote {
  border-left: 8px solid #ddd;
  margin: 1.4em 0;
  padding: 0.5em 1em;
  font-size: 1.3em;

  &.answer {
    background-color: lightyellow;
    p { font-weight: 400; }
  }
}

cite:before {
  content: "—"
}

a {
  text-decoration: none!important;;
}
